<!DOCTYPE html>

<!-- DISPLAYS THE USER'S PAST AND CURRENT WEATHER.
A SUBPAGE OF USER: User/UserWeather -->

<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/sign.css">
    <title>Title</title>
</head>
<body>
<div class="topnav" align="center" style="background-color: #f1f1f1">
    <h1>
        <a href="index.html" style="background-color: #f1f1f1">WEATHER VAULT<a>
    </h1>
    <a href="GuideLogin.html" class="button"><i class="fa fa-sign-in"> Login |</i></a>
    <a href="GuideSignUp.html" class="button"><i class="fa fa-user-plus"> Sign up |</i></a>
    <a href="GuideLocation.html" class="button"><i class="fa fa-map-marker"> Locations |</i></a>
    <a href="GuideAccount.html" class="button"><i class="fa fa-user-o"> My page</i></a>
</div>

<div class="banner-info" align="center" >
    <br>
    <br>
    <h2>We currently have guides at all of the following locations:</h2>
</div>
</body>
</html>