<!DOCTYPE html>
<!-- THE USER SIGN UP PAGE.
 IT GETS THE USER'S INFO AND LOCATION -->


<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../css/sign.css">

</head>
<body>
<div class="topnav" align="center" style="background-color: #f1f1f1">
    <h1>
        <a href="index.html" style="background-color: #f1f1f1">WEATHER VAULT<a>
    </h1>
    <a href="UserLogin.html" class="button"><i class="fa fa-sign-in"> Login |</i></a>
    <a href="GuideSignUp.html" class="button"><i class="fa fa-user-plus"> Sign up |</i></a>
    <a href="GuideLocation.html" class="button"><i class="fa fa-map-marker"> Locations |</i></a>
    <a href="GuideAccount.html" class="button"><i class="fa fa-user-o"> My page |</i></a>
</div>
<div class="banner-info" align="center" >
    <br>
    <br>
    <h2>Fill in your information below to login.</h2>
</div>
<div align="center">
    <form>
        <fieldset>
            <input type="text" placeholder="First name" class="form-control" name="" id="first-name">
            <input type="text" placeholder="Last name" class="form-control" name="" id="last-name">
            <input type="text" placeholder="password" class="form-control" name="" id="password">
            <button type="submit" id="SignUp" class="sign-up">login</button>
        </fieldset>
    </form>
</div>
<script type="javascript" src="dbcon.js"></script>
<script type="text/javascript" src="script.js"></script>

</body>

</html>
